black
isort
flake8
mypy
pytest
coverage
pytest-cov
types-beautifulsoup4
types-colorama
types-decorator
types-docutils
types-html5lib
types-Pillow
types-psutil
types-Pygments
types-python-dateutil
types-pytz
types-requests
types-setuptools
types-tabulate
types-tqdm
types-urllib3
